<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WindowsApplication1.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- このセクションでは、My.Application.Log のログ構成を定義します。 -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- アプリケーション イベント ログに書き込むには、以下のセクションのコメントを解除します -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- アプリケーション イベント ログに書き込むには、以下のセクションのコメントを解除して、APPLICATION_NAME をアプリケーション名に置き換えます -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <WindowsApplication1.My.MySettings>
            <setting name="CfgFormSizeWText" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="CfgFormSizeHText" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="CfgMRUImage" serializeAs="String">
                <value />
            </setting>
            <setting name="CfgFormSizeWKanaText" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="CfgFormSizeHKanaText" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="CfgFormSizeWMain" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="CfgFormSizeHMain" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="CfgMRUtext" serializeAs="String">
                <value />
            </setting>
            <setting name="CfgMRUKanaText" serializeAs="String">
                <value />
            </setting>
            <setting name="CFGF5_FontName" serializeAs="String">
                <value>ＭＳ 明朝</value>
            </setting>
            <setting name="CFGF5_FontSize" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="CFGF5_FontStyle" serializeAs="String">
                <value>Regular</value>
            </setting>
            <setting name="CFGF5_KeySmall" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="CFGF5_LineWidth" serializeAs="String">
                <value>32</value>
            </setting>
            <setting name="CFGF5_FontNameScr" serializeAs="String">
                <value>ＭＳ 明朝</value>
            </setting>
            <setting name="CFGF5_FontSizeScr" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="CFGF5_FontStyleScr" serializeAs="String">
                <value>Regular</value>
            </setting>
            <setting name="CFGF5_PrintFontSame" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CFGF5_KeySpecialChar" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="CfgSpecialKeys" serializeAs="String">
                <value />
            </setting>
            <setting name="CfgFindWord" serializeAs="String">
                <value />
            </setting>
            <setting name="CfgRepWord" serializeAs="String">
                <value />
            </setting>
            <setting name="CfgCase" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CfgFindUp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CfgTestOption" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CFGF12_swBES99" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CFGF5_LangID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CFGF12_swKatakanaDoc" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CFGF9_Dictionary" serializeAs="String">
                <value />
            </setting>
            <setting name="CfgMRUDictionary" serializeAs="String">
                <value />
            </setting>
            <setting name="CFGF12_swEnglishDoc" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CFGF12_swUTF8" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CFGMRUWords" serializeAs="String">
                <value />
            </setting>
            <setting name="CFGF13_Words" serializeAs="String">
                <value />
            </setting>
            <setting name="CFGF5_KeyWords" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="CFG_Form11ClientSize" serializeAs="String">
                <value>474, 261</value>
            </setting>
            <setting name="CFG_Form13ClientSize" serializeAs="String">
                <value>425, 261</value>
            </setting>
            <setting name="CFG_Form6ClientSize" serializeAs="String">
                <value>253, 381</value>
            </setting>
            <setting name="CFGF5_KeyFind" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="CFGF14_Symbol" serializeAs="String">
                <value />
            </setting>
            <setting name="CFG_Form14ClientSize" serializeAs="String">
                <value>477, 343</value>
            </setting>
            <setting name="CfgMRUSymbol" serializeAs="String">
                <value />
            </setting>
            <setting name="AS_Form2ClientSize" serializeAs="String">
                <value>512, 435</value>
            </setting>
            <setting name="CFGF2_LangIndex" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="AS_Form15ClientSize" serializeAs="String">
                <value>438, 261</value>
            </setting>
            <setting name="CFGF5_KeyDakuon" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="CFGF6_TransChars" serializeAs="String">
                <value />
            </setting>
            <setting name="CfgMRUTransChars" serializeAs="String">
                <value />
            </setting>
            <setting name="CFGF5_KeyReplace" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="CFGF5_SplitHeader" serializeAs="String">
                <value>True</value>
            </setting>
        </WindowsApplication1.My.MySettings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
